<!-- Body -->
<div>
    <p>
        Define a custom humidity profile. The profile is executed when the "Start Recording" button is pressed.
    </p>
    <!-- Container for segment settings -->
    <div id="segment-settings-container">
        <!-- Plotly Chart -->
        <div id="arbitrarySetpointModal-chart" style="width:100%;"></div>

        <hr style=" height: 1px;
                    background-color: #e6e6e6;
                    margin: 20px 0;">

        <!-- Single set of labels -->
        <div class="row pb-2">
            <div class="col-md-1"></div>
            <div class="col-md-3">Duration [min]</div>
            <div class="col-md-6">Segment String Definition</div>

            <!-- Button to add additional row -->
            <button type="button" class="btn btn-secondary btn-sm" id="add-segment-row">Add Row</button>
        </div>

        <!-- Default row for segment settings -->
        <div class="row segment-row">
            <div class="col-md-1" style="text-align: right;"></div>
            <div class="col-md-3">
                <div class="form-group">
                    <input type="number" class="form-control" id="duration1" name="duration">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <input type="text" class="form-control" id="segment-string1" name="segment_string">
                </div>
            </div>
            <div class="col-md-2">
                <button type="button" class="btn btn-danger btn-sm remove-segment-row">X</button>
            </div>
        </div>

    </div>

    <!-- Footer -->
    <div class="modal-footer">
        <!-- Button to plot segments -->
        <div class="mr-auto">
            <button type="button" class="btn btn-outline-primary" id="plot-segments">Plot Segments</button>
        </div>
        <div class="col-md-6">
            <div class="input-group">
                <span class="input-group-text"> <b>Flow Rate</b> </span>
                <input type="number" class="form-control" id="arbitrarySetpoint-flowRate" name="segment_duration">
                <span class="input-group-text">[sccm]</span>
            </div>
        </div>
    </div>
</div>

<!-- JavaScript for adding dynamic rows -->
<script>
    $(document).ready(function() {
        // Counter for enumerating rows

        // Add row button click event
        $('#add-segment-row').click(function() {
            var newRow = `
                <div class="row segment-row">
                    <div class="col-md-1" style="text-align: right;"></div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <input type="number" class="form-control" name="duration">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="text" class="form-control" name="segment_string">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <button type="button" class="btn btn-danger btn-sm remove-segment-row">X</button>
                    </div>
                </div>
            `;
            $('#segment-settings-container').append(newRow);
        });

        // Delegate click event for removing segment rows
        $(document).on('click', '.remove-segment-row', function() {
            $(this).closest('.segment-row').remove();
        });
    });
</script>
